.chat.clearfix
  = render partial: 'share/index'
  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2= @group.group_name
        %p.chat-header__users
          Members:
          - @group.users.each do |user|
            %span.chat-header__user= user.name
      .chat-header--right
        = link_to 'Edit', edit_group_path(@group), class: "chat-header__edit-btn"
    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-mssage__header.clearfix
            %p.chat-message__name ユーザー1
            %p.chat-message__time 2012/12/12 12:12:12
          %p.chat-message__body ほげほげ
    .chat-footer
      = form_for [@group, @message], html:{class: "new_message"} do |f|
        .chat-footer__body
          = f.text_area :body, placeholder: "type a message",rows: "1", class: "message_body"
          %label.chat-footer__image
            %i.fa.fa-image
            =f.file_field :image, class: 'file_attach'
        = f.submit "SEND", class: "sending"
