- if @group.errors.any?
  .chat-group-form__errors
    %h2
      = pluralize(@group.errors.count, "error")
      prohibited this post from being saved:
    %ul
      - if @group.group_name.empty?
        %li グループ名を入力してください
= form_for @group, html: {class: "new_chat_group", id: "new_chat_group"} do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      .chat-group-form__label グループ名
    .chat-group-form__field--right
      = f.text_field :group_name, placeholder: "グループ名を入力してください", class: "chat-group-form__input"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      .chat-group-form__label チャットメンバーを追加
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        %input#user-search-field.chat-group-form__input{ placeholder: "追加したいユーザー名を入力してください" }
      #user-search-result
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      .chat-group-form__label チャットメンバー
    .chat-group-form__field--right
      #chat-group-users
        #chat-group-user.chat-group-user.clearfix
          = f.hidden_field :user_ids, value: current_user.id, multiple: true
          %p.chat-group-user__name= current_user.name
        - @group.users.each do |user|
          - unless user.id == current_user.id
            .chat-group-user.clearfix
              = f.hidden_field :user_ids, value: current_user.id, multiple: true
              %p.chat-group-user__name= user.name
              %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove{ 'data-user-id': user.id } 削除
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "Save", class: "chat-group-form__action-btn", data:{disable_with: "Save"}
